<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="
        width=device-width, initial-scale=1"
        >
        <title> Aula HTML</title>
    </head>
    <body>
        <h1 style="color: blue; font-size: 50px;":>Apresentação</h1> 
        <p>
            Na disciplina de Desenvolvimento Web com HTML5, CSS, JavaScript e PHP
            você vai aprender a estruturar páginas com HTML5 criando títulos, parágrafos, imagens,
            links, formulários e elementos semânticos, a usar CSS para estilizar as páginas definindo
            cores, tamanhos, posicionamentos e deixando o site responsivo, a utilizar JavaScript para
            dar interatividade validando formulários, criando animações, manipulando elementos na tela
            e respondendo a ações do usuário, e a programar em PHP para trabalhar no lado do servidor
            processando formulários, conectando a banco de dados e gerando conteúdo dinâmico, entendendo
            como cada tecnologia se conecta para criar sites modernos, funcionais e interativos.
        </p>

        <p>
            A nota de apresentação vale <del>10</del> 4 
        </p>

        <p>
         Para aprovação necessario <sup style="color:rgba(38, 81, 105, 1)">75%</sup> de frequencia Tenta
         não usar <sub style="color:brown">25%</sub>
        </p>
        <img src="src/imagens/floresta.png" alt="imagem de floresta">
        <input type="text" placeholder="Digite seu nome">
        <button>Enviar</button>
    </body>
</html>